<footer>
  <div class="background">
    <div class="container">
      <div class="row contact text text-center">
        <div class="col-lg-4 col-md-4 col-sm-12 col-12 justify-content-center align-items-center">
          <div class="top">
            <div class="row justify-content-center align-items-center">
              <div class="circle">
                <a href="#!"><i class="fas fa-envelope" aria-hidden="true"></i></a>
              </div>
            </div>
          </div>
          <div><label class="text-center">Contact Us</label></div>
          <div><p>moneyxchange@change.com</p></div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-12 justify-content-center align-items-center">
          <div class="top">
            <div class="row justify-content-center align-items-center">
              <div class="circle">
                <a href="#!"><i class="fas fa-phone"></i></a>
              </div>
            </div>
          </div>
          <div><label class="text-center">Call Us</label></div>
          <div><p>+1 000 000 000</p></div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-12 justify-content-center align-items-center">
          <div class="top">
            <div class="row justify-content-center align-items-center">
              <div class="circle">
                <a href="#!"><i class="fa fa-users" aria-hidden="true"></i></a>
              </div>
            </div>
          </div>
          <div><label class="text-center">Follow us :</label></div>
          <div><label class="text-center smaller">moneyxchange</label></div>
          <div><p>Get in Touch!</p></div>
          <div class="row justify-content-center align-items-center">
            <div class="col-lg-6 col-md-12 col-sm-6 col-9 socialMedia">
              <div class="row text-center">
                <div class="col-4"><a href="#!"><i class="fab fa-facebook" aria-hidden="true"></i></a></div>
                <div class="col-4"><a href="#!"><i class="fab fa-instagram" aria-hidden="true"></i></a></div>
                <div class="col-4"><a href="#!"><i class="fab fa-pinterest-p" aria-hidden="true"></i></a></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-links">
    <div class="container">
      <div class="row data-down text-center justify-content-center align-items-center">
        <div class="col-lg-1 col-md-2 col-sm-3 col-4"><a href="#!">Home</a></div>
        <div class="col-lg-1 col-md-2 col-sm-3 col-4"><a href="#!">Exchange</a></div>
        <div class="col-lg-1 col-md-2 col-sm-3 col-4"><a href="#!">Rates</a></div>
        <div class="col-lg-1 col-md-2 col-sm-3 col-4"><a href="#!">Coins</a></div>
        <div class="col-lg-1 col-md-2 col-sm-3 col-4"><a href="#!">Reviews</a></div>
        <div class="col-lg-1 col-md-2 col-sm-3 col-4"><a href="#!">Us</a></div>
      </div>
    </div>
  </div>
  <div class="copyright">
    <div class="container-fluid">
      <div class="row  text-right">
        <div class="col-12  justify-content-end">
          <label>© Moneyxchange 2018. <b>All right reserved.</b></label>
        </div>
      </div>
    </div>
  </div>
</footer>
