@import "./../../../assets/global";

footer{
  .background{
    width: 100%;
    background: $navy;
    height: auto;
    @media (min-width: 280px) and (max-width: 767px){
      height: 650px !important;
    }
    @media (min-width: 768px) and (max-width: 1000px){
      height: 300px !important;
    }

    .contact{
      .circle{
        @include border-boton();
        height: 100px;
        width: 100px;
        background-color: $white;
        border: 2px solid $blue;
        text-align: center;
        &:hover{
          border: 2px solid $navy;
          border-radius: 50px;
        }
        .fa-envelope, .fa-users, .fa-phone{
          padding: 30px;
          color: $blue;
          &:hover{
            -webkit-transition: 0.5s all ease-in-out;
            -moz-transition: 0.5s all ease-in-out;
            -o-transition: 0.5s all ease-in-out;
            transition: 0.5s all ease-in-out;
            -webkit-transform: rotate(360deg);
            -moz-transform: rotate(360deg);
            -o-transform: rotate(360deg);
            -ms-transform: rotate(360deg);
            transform: rotate(360deg);
            color:$blue;
          }
        }
      }

      label{
        font-size: 1.4444rem;
        color:darkgray;
        margin-bottom: 0px;
        text-align: center;
        @media(min-width: 600px) and (max-width: 1024px){
          font-size: 1rem;
        }
        @media(min-width: 280px) and (max-width: 599px){
          font-size: 0.95rem;
        }
      }
      p{
        font-size: 1rem;
        color:darkgray;
        margin-bottom: 0px;
        font-weight: bold;
      }
      .message-icon{
        margin-top: 0px;

        @media (max-width: 844px) {
          margin-top: 0.7rem;
        }
      }
      .smaller{
        font-size: 1.9rem;
        color:$blue;
        margin-bottom: 0px !important;
        margin-top:-50px;
        @media(min-width: 600px) and (max-width: 1024px){
          font-size: 1.155rem;
        }
        @media(min-width: 280px) and (max-width: 599px){
          font-size: 1.005rem;
        }
      }
      i{
        font-size: 2rem;
      }
    }

    @media (max-width: 768px){
      height: 300px;
      width: 100%;
    }
    .rectangle{
      border: solid 4px $blue;
      @include rect();
      box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
    }

    .socialMedia{
      height: 80px;
    }
    a{
      color: $blue;
      &:hover{
        color: $white;
        font-weight: bold;
      }
    };
    .fa-facebook, .fa-instagram, .fa-pinterest-p{
      font-size: 2.5rem;
      padding: 15px;
    }
    .texto{
      margin: 10px;
      label{
        font-size: 3rem;
        color: darkgray;
      }
    }
  }
  .copyright{
    .container{
      margin: 0px;
    }
    background-color: $blue;
    width: 100%;
    height: auto;
    label{
      margin-top: 1.5px;
      padding: 8px;
      font-size: 0.9rem;
      color: $white;
      text-align: right;
      @media(min-width: 280px) and (max-width: 599px){
        font-size: 0.60em;
      }
    }
    @media (min-width: 200px) and (max-width: 350px){
      width: 100%;
      height: 50px;
    }
    a{
      color: $navy;
      text-decoration: none;
      font-weight: bold;
      font-size: 0.8rem;
      &:hover{
        color:gray;
        text-decoration: none;
      }
    }

  }

  .footer-links{
    background-color: $blue	;
    width: 100%;
    height: 60px;
    @media (min-width: 200px) and (max-width: 350px){
      height: 80px;
    }
    @media (min-width: 351px) and (max-width: 500px){
      height: 80px;
    }
    .data-down{
      margin-bottom: 0px;
      padding: 0.8rem  0.2rem 0.5rem  0.2rem;
      list-style-type: none;
      a{
        color: $white;
        font-size: 1rem;
        &:hover{
          text-decoration: none;
          color: $navy;
        }
      }
    }

  }
}

.top{
  margin-top: 20px;
}
