<div class="container-fluid main">
  <div class="background-style">
    <div class="text-center b-square">
      <div class="b-text">Moneyxchange</div>
    </div>
  </div>
</div>
<div class="container">
  <div class="change-square">
    <div class="info-title">
      <div class="text-center title">
        <p>Change your money.</p>
      </div>
      <app-exchange></app-exchange>
    </div>
  </div>
</div>

