@import "./../../../assets/global";

.background-style{
  background-image: url('https://cdn.pixabay.com/photo/2014/12/14/16/05/arm-wrestling-567950_960_720.jpg');
  @include background;
}

.b-square{
  @include centering;
  width: 30em;
  height: 8em;
  border: solid 5px $white;
  box-shadow: 1px 1px 10px $shadow;
  @media (max-width: 767px) {
    width: 15em;
    height: 8em;
  }
}

.b-text{
  @include centering;
  font-size: 3em;
  color:$white;
  font-weight: 800;
  border-radius: 50%;
  @media (max-width: 767px) {
   font-size: 1.8em;
  }
}

.change-square{
  align-items: center;
}

.info-title{
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 60vh;
  @media (max-width: 767px) and (orientation: portrait) {
    height: 100vh;
  }
  @media (max-width: 850px) and (orientation: landscape) {
    height: 100vh;
  }
  .title{
    p{
      font-size: 2em;
      color: $black;
      padding-bottom: 30px;
      font-weight: 200;
    }
  }
}


