<form  (ngSubmit)="onSubmit()">
  <div class="row justify-content-center">
    <div class="col-lg-6 col-md-6 col-sm-6 col-12">
      <mat-form-field class="w-100">
        <input  matInput [(ngModel)]="data.current" currencyMask
                [options]="{align:'left', prefix: '€', thousands: '.', decimal: ',',precision:4}"
                name="current" type="text"  (ngModelChange)="change_rate()">
      </mat-form-field>
     </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-12">
      <div class="row">
        <div class="col-lg-2 col-md-3 col-sm-3 col-12">
          <mat-form-field class="w-100">
            <mat-select  name="select" [(ngModel)]="selected" (ngModelChange)="show1()">
              <mat-option *ngFor="let list of extra" [value]="list">{{list}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-lg-10 col-md-9 col-sm-9 col-12">
          <mat-form-field class="w-100">
            <input matInput  [(ngModel)]="data.change"
                   currencyMask [options]="{align:'left', prefix:'', thousands: '.', decimal: ',',precision:4}"
                   name="change" type="text" readonly onkeydown="return false;">
           </mat-form-field>
        </div>
      </div>
    </div>
    <div class="col-12 text-center currency-h">
      <div>1 {{selected}}= {{value}}€</div>
    </div>
    <div class="col-12 text-center">
      <button mat-raised-button color="primary">Calculate</button>
    </div>
  </div>
</form>
<div class="row update text-center" >
  <div> Last update: {{date}}</div>
</div>
