/**
 * Created by Nilyan Vicent on 16/12/2018.
 */

$white:white;
$shadow:rgba(0,0,0,.4);
$black: black;
$navy:#001f3f;
$blue:#4682B4;

.main{
  padding: 0px;
}



@mixin border-boton{
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -o-border-radius:50px;

}

@mixin rect{
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -o-border-radius:2px;
}

@mixin centering{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
@mixin background{
  background-size: cover;
  background-attachment: fixed;
  background-position:center;
  background-repeat: no-repeat;
  height: 100vh;
}

.w-100{
  width:100%;
}
